a2wsgi==1.4.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hupper==1.10.3
Hypercorn==0.11.2
hyperframe==6.0.1
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
priority==2.0.0
pyramid==2.0
toml==0.10.2
translationstring==1.4
venusian==3.0.0
WebOb==1.8.7
wsproto==1.0.0
zope.deprecation==4.4.0
zope.interface==5.4.0
